<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287683701467-d92ic4nm1v70i4tfrs7squrb9l0v71lf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287683701467-d92ic4nm1v70i4tfrs7squrb9l0v71lf</string>
	<key>API_KEY</key>
	<string>AIzaSyABnOkYFpd_vT8N5c4QvXf88hVfLhmGess</string>
	<key>GCM_SENDER_ID</key>
	<string>287683701467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uillinois.uiuchealth.savvy</string>
	<key>PROJECT_ID</key>
	<string>savvyhealth-185e0</string>
	<key>STORAGE_BUCKET</key>
	<string>savvyhealth-185e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287683701467:ios:28817b161a42bb8e3cfafe</string>
	<key>DATABASE_URL</key>
	<string>https://savvyhealth-185e0.firebaseio.com</string>
</dict>
</plist>